
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
section{
	display: block;
}
/* General Demo Style */
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #fff;
	background-size: 100% 100%;
	background-attachment: fixed;
	font-weight: 400;
	font-size: 15px;
	color: #391b27;
	overflow-y: scroll;
	overflow-x: hidden;
}
a{
	color: #333;
	text-decoration: none;
}
/*.container{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: relative;
	font-weight: 400;
	color: #923e5f;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{
	color: #582036;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h2{
	font-size: 16px;
	font-style: italic;
	color: #391b27;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);

}*/
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.codrops-top a:hover{
	background: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px 15px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 4px;
	color: #fff;
	line-height: 20px;	
	font-style: italic;
	font-size: 13px;
	border-radius: 3px;
	background: rgba(103,59,77,0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.codrops-demos a:hover{
	background: rgba(103,59,77,0.4);
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: rgba(103,59,77,0.4);
}

.cn-container{
	width: 60%;
	min-width: 300px;
	max-width: 820px;
	margin: 10px auto 0 auto;
	text-align: left;
	position: relative;
}
.cn-container h2{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	color: red;
	position: absolute;
	z-index: 10000;
	text-shadow: 0 0 1px rgba(255,255,255,0.8), 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 80px;
	line-height: 80px;
	top: 25px;
	right: 0px;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all 0.5s linear 0.7s;
	-moz-transition: all 0.5s linear 0.7s;
	-o-transition: all 0.5s linear 0.7s;
	-ms-transition: all 0.5s linear 0.7s;
	transition: all 0.5s linear 0.7s;
}
.cn-container .cn-slide:target h2{
	top: 0px;
	opacity: 1;
}
.cn-slide{
	text-align: center;
	position: absolute;
	left: 0px;
	padding-top: 80px;
	margin: 0 5%;
	width: 90%;
	opacity: 0;
}
.cn-slide:target{
	opacity: 1;
	z-index: 1000;
}
.cn-slide nav a{
	text-align: left;
	display: block;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	border: 8px solid red;
	padding: 2%;
	font-size: 66px;
	letter-spacing: 7px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	color: #fff;
	line-height: 66px;
	outline: none;
	margin: 0 0 10px 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	background: #fff url(../images/1.jpg) no-repeat center center;
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	opacity: 0;
	-webkit-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-moz-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-o-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-ms-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.cn-slide nav a:hover{
	border-color: #582036;
	color: #582036;
}
.cn-slide:target nav a{
	opacity: 1;
}
.cn-slide nav a:nth-child(2){
	-webkit-transition-delay: 0.3s, 0s, 0s;
	-moz-transition-delay: 0.3s, 0s, 0s;
	-o-transition-delay: 0.3s, 0s, 0s;
	-ms-transition-delay: 0.3s, 0s, 0s;
	transition-delay: 0.3s, 0s, 0s;
}
.cn-slide nav a:nth-child(3){
	-webkit-transition-delay: 0.6s, 0s, 0s;
	-moz-transition-delay: 0.6s, 0s, 0s;
	-o-transition-delay: 0.6s, 0s, 0s;
	-ms-transition-delay: 0.6s, 0s, 0s;
	transition-delay: 0.6s, 0s, 0s;
}
.cn-slide nav a:nth-child(4){
	-webkit-transition-delay: 0.9s, 0s, 0s;
	-moz-transition-delay: 0.9s, 0s, 0s;
	-o-transition-delay: 0.9s, 0s, 0s;
	-ms-transition-delay: 0.9s, 0s, 0s;
	transition-delay: 0.9s, 0s, 0s;
}
.cn-slide nav a:nth-child(5){
	-webkit-transition-delay: 1.2s, 0s, 0s;
	-moz-transition-delay: 1.2s, 0s, 0s;
	-o-transition-delay: 1.2s, 0s, 0s;
	-ms-transition-delay: 1.2s, 0s, 0s;
	transition-delay: 1.2s, 0s, 0s;
}

.cn-slide-sub nav a{
	width: 42%;
	display: inline-block;
	font-size: 40px;
	opacity: 0;
}
.cn-slide-sub nav a:nth-child(odd){
	margin-right: 5px;
}

.cn-content{
	background: #80B8CE url(../images/1.jpg) no-repeat center center;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; 
	text-align: left;
	padding: 20px 20px 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	border: 8px solid #fff;
	margin-top: 5px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.9s linear;
	-moz-transition: all 0.9s linear;
	-o-transition: all 0.9s linear;
	-ms-transition: all 0.9s linear;
	transition: all 0.9s linear;
}
.cn-slide:target .cn-content{
	opacity: 1;
}
.cn-content:active p{
	opacity: 0;
}
.cn-content p{
	line-height: 24px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
	color: rgba(103,59,77,0.9);
	padding: 15px 20px;
	margin-bottom: 10px;
	background: rgba(255,255,255,0.96);
	font-style: italic;
	border-top: 7px solid rgba(103,59,77,0.6);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cn-back{
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(../images/arrow.png) no-repeat center center;
	position: absolute;
	top: 22px;
	left: -100px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 1s;
	-moz-transition: all 0.4s ease-in-out 1s;
	-o-transition: all 0.4s ease-in-out 1s;
	-ms-transition: all 0.4s ease-in-out 1s;
	transition: all 0.4s ease-in-out 1s;
}
.cn-slide:target .cn-back{
	left: 3px;
	opacity: 1;
}
.cn-note{
	text-align: right;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	padding: 10px;
	display: block;
	font-family: Arial;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
/* Main Items */
.cn-slide nav a[href="#slide-1"]{
	background-image: url(../img/logo.jpg);
}
.cn-slide nav a[href="#slide-2"]{
	background-image: url(../img/logo2.jpg);
}
.cn-slide nav a[href="#slide-3"]{
	background-image: url(../img/logo3.jpg);
}

/* Items and sub-items of slide 1*/
.cn-slide nav a[href="faq/#slide-FAQ"],
#slide-f1 .cn-content {
	background-image: url(../img/logo.jpg);
}
.cn-slide nav a[href="faq/#slide-FAQ"],
#slide-f2 .cn-content {
	background-image: url(../img/logo2.jpg);
}
.cn-slide nav a[href="#slide-1-3"],
#slide-f3 .cn-content {
	background-image: url(../img/logo3.jpg);
}
.cn-slide nav a[href="#slide-1-4"],
#slide-1-4 .cn-content {
	background-image: url(../img/logo3.jpg);
}
.cn-slide nav a[href="../addidentity"],
#slide-1-4 .cn-content{
	background-image: url(../img/logo.jpg);
	color: black;
}

/* Items and sub-items of slide 2*/
.cn-slide nav a[href="ticket/#slide-t2"],
#slide-t2 .cn-content {
	background-image: url(../img/logo2.jpg);
	color: black;
}

.cn-slide nav a[href="ticket/#slide-t3"],
#slide-t3 .cn-content {
	background-image: url(../img/logo3.jpg);
	color: black;
}

.cn-slide nav a[href="contact/#slide-os"],
#slide-ose2 .cn-content {
	background-image: url(../img/os.jpg);
}
.cn-slide nav a[href="contact/#slide-ose2"],
#slide-2-3 .cn-content {
	background-image: url(../img/os.jpg);
}
.cn-slide nav a[href="contact/#slide-chief"],
#slide-chief .cn-content {
	background-image: url(../img/chief.jpg);
}
.cn-slide nav a[href="contact/#slide-chief2"],
#slide-chief2 .cn-content {
	background-image: url(../img/chief.jpg);
}

.cn-slide nav a[href="contact/#slide-ms"],
#slide-ms .cn-content {
	background-image: url(../img/market.jpg);
}
.cn-slide nav a[href="contact/#slide-ms2"],
#slide-ms2 .cn-content {
	background-image: url(../img/market.jpg);
}

.cn-slide nav a[href="download/#slide-ticket"],
#slide-ms .cn-content {
	background-image: url(../img/ticket.jpg);
}
.cn-slide nav a[href="download/#slide-map"],
#slide-map .cn-content {
	background-image: url(../img/map.jpg);
}

.cn-slide nav a[href="#slide-about"],
#slide-about .cn-content {
	background-image: url(../img/sneakers.jpg);
}


/* Items and sub-items of slide 3*/
.cn-slide nav a[href="faq/#slide-f1"],
#slide-3-1 .cn-content {
	background-image: url(../img/logo.jpg);
}
.cn-slide nav a[href="faq/#slide-f2"],
#slide-3-2 .cn-content {
	background-image: url(../img/logo2.jpg);
	color: #000000;
}
.cn-slide nav a[href="faq/#slide-f3"],
#slide-3-3 .cn-content {
	background-image: url(../img/logo3.jpg);
}
.cn-slide nav a[href="ticket/#tick"],
#slide-3-4 .cn-content {
	background-image: url(../img/logo2.jpg);
	color: black;
}

.cn-slide nav a[href="contact/#slide-event"],
#slide-event .cn-content{
	background-image: url(../img/event.jpg);
}

.cn-slide nav a[href="contact/#slide-event-2"],
#slide-event-2 .cn-content{
	background-image: url(../img/event.jpg);}

.cn-slide nav a[href="contact/#slide-ksk-2"],
#slide-ksk-2 .cn-content{
	background-image: url(../img/ksk.jpg);}

.cn-slide nav a[href="contact/#slide-ksk"],
#slide-ksk-2 .cn-content{
	background-image: url(../img/ksk.jpg);}

.cn-slide nav a[href="contact/#slide-ksk-2"],
#slide-ksk-2 .cn-content{
	background-image: url(../img/ksk.jpg);}



@media screen and (max-width: 1060px){
	.cn-slide-sub nav a{
		font-size: 28px;
	}
}
@media screen and (max-width: 900px){
	.cn-container h2{
		font-size: 48px;
		line-height: 95px;
	}
	.cn-slide nav a{
		font-size: 38px;
	}
	.cn-slide-sub nav a{
		width: auto;
		font-size: 36px;
		display: block;
	}
	.cn-slide-sub nav a:nth-child(odd){
		margin-right: 0px;
	}
}