.cn-container{
	width: 80%;
	min-width: 600px;
	max-width: 820px;
	margin: 10px auto 0 auto;
	text-align: left;
	position: relative;
}
.cn-container h2{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
	position: absolute;
	z-index: 1000;
	text-shadow: 0 0 1px rgba(255,255,255,0.8), 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 80px;
	line-height: 80px;
	top: 0px;
	right: 20px;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all 0.3s linear 0.4s;
	-moz-transition: all 0.3s linear 0.4s;
	-o-transition: all 0.3s linear 0.4s;
	-ms-transition: all 0.3s linear 0.4s;
	transition: all 0.3s linear 0.4s;
}
.cn-container .cn-slide:target h2{
	right: 0px;
	opacity: 1;
}

.home{
	width: 500px;
	height: 500px;
	text-align: center;
	margin: 300px;
	background-color: white;
	position: static;
	padding: 25px;
}


.cn-slide{
	text-align: center;
	position: absolute;
	left: -300%;
	padding-top: 80px;
	margin-left: 30px;
	margin-top: 5px;
	width: 90%;
	opacity: 0;
	-webkit-transition: left 0.6s linear, opacity 0.4s linear;
	-moz-transition: left 0.6s linear, opacity 0.4s linear;
	-o-transition: left 0.6s linear, opacity 0.4s linear;
	-ms-transition: left 0.6s linear, opacity 0.4s linear;
	transition: left 0.6s linear, opacity 0.4s linear;
}
.cn-slide:target{
	left: 0px;
	opacity: 1;
}
.cn-slide nav a{
	text-align: left;
	display: block;
	font-family: 'BebasNeueRegular', 'Arial', Arial, sans-serif;
	border: 8px solid #fff;
	padding: 2%;
	font-size: 66px;
	letter-spacing: 3px;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.9);
	color: rgba(255,255,255,0.1);
	line-height: 66px;
	margin: 0 0 10px 0;
	outline: none;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	background: #fff url(../images/1.jpg) no-repeat center center;
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.cn-slide nav a:hover{
	box-shadow: 1px 3px 7px rgba(0,0,0,0.25);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	border: 8px solid #000;
	color: rgba(0,0,0,1);
}

.cn-slide-sub nav a{
	width: 90%;
	display: inline-block;
	font-size: 30px;
	text-decoration: bold;
}
.cn-slide-sub nav a:nth-child(odd){
	margin-right: 5px;
}
/* Main Items */
.cn-slide nav a[href="#slide-1"]{
	background-image: url(../images/1.jpg);
}
.cn-slide nav a[href="#slide-2"]{
	background-image: url(../images/2.jpg);
}
.cn-slide nav a[href="#slide-3"]{
	background-image: url(../images/3.jpg);
}

/* Items and sub-items of slide 1*/
.cn-slide nav a[href="#slide-1-1"],
#slide-1-1 .cn-content {
	background-image: url(../images/4.jpg);
}
.cn-slide nav a[href="#slide-1-2"],
#slide-1-2 .cn-content {
	background-image: url(../images/5.jpg);
}
.cn-slide nav a[href="#slide-1-3"],
#slide-1-3 .cn-content {
	background-image: url(../images/6.jpg);
}
.cn-slide nav a[href="#slide-1-4"],
#slide-1-4 .cn-content {
	background-image: url(../images/7.jpg);
}

/* Items and sub-items of slide 2*/
.cn-slide nav a[href="#slide-2-1"],
#slide-2-1 .cn-content {
	background-image: url(../images/8.jpg);
}
.cn-slide nav a[href="#slide-2-2"],
#slide-2-2 .cn-content {
	background-image: url(../images/9.jpg);
}
.cn-slide nav a[href="#slide-2-3"],
#slide-2-3 .cn-content {
	background-image: url(../images/10.jpg);
}
.cn-slide nav a[href="#slide-2-4"],
#slide-2-4 .cn-content {
	background-image: url(../images/11.jpg);
}

/* Items and sub-items of slide 3*/
.cn-slide nav a[href="#slide-3-1"],
#slide-3-1 .cn-content {
	background-image: url(../images/12.jpg);
}
.cn-slide nav a[href="#slide-3-2"],
#slide-3-2 .cn-content {
	background-image: url(../images/13.jpg);
}
.cn-slide nav a[href="#slide-3-3"],
#slide-3-3 .cn-content {
	background-image: url(../images/14.jpg);
}
.cn-slide nav a[href="#slide-3-4"],
#slide-3-4 .cn-content {
	background-image: url(../images/15.jpg);
}
.cn-content{
	background: #80B8CE url(../images/1.jpg) no-repeat center center;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; 
	text-align: left;
	padding: 20px 20px 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	border: 8px solid #fff;
	margin-top: 5px;
	cursor: pointer;
}
.cn-content:active p{
	opacity: 0;
}
.cn-content p{
	line-height: 24px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
	color: rgba(103,59,77,0.9);
	padding: 15px 20px;
	margin-bottom: 10px;
	background: rgba(255,255,255,0.96);
	font-style: italic;
	border-top: 7px solid rgba(103,59,77,0.6);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cn-back{
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(../images/arrow.png) no-repeat center center;
	position: absolute;
	top: 22px;
	left: -100px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
}
.cn-slide:target .cn-back{
	left: 3px;
	opacity: 1;
}
.cn-note{
	text-align: right;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	padding: 10px;
	display: block;
	font-family: Arial;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

@media screen and (max-width: 1060px){
	.cn-slide-sub nav a{
		font-size: 28px;
	}
}
@media screen and (max-width: 900px){
	.cn-container h2{
		font-size: 48px;
		line-height: 95px;
	}
	.cn-slide nav a{
		font-size: 38px;
	}
	.cn-slide-sub nav a{
		width: auto;
		font-size: 36px;
		display: block;
	}
	.cn-slide-sub nav a:nth-child(odd){
		margin-right: 0px;
	}
}