/**
 *
 * Gila! baru kali ini gue ngopas CSS -__-"
 *
 */

body {
  padding-top: 150px;
  padding-bottom: 80px;
   /*background:#e6eecc url(../images/beige_paper.png) repeat top left;*/
   background-image: url(../img/pat2.png);
   /*background-size: 100% 100%;*/
   background-attachment: fixed;
   background-repeat: top-left;
  margin-bottom: 70px;
}

.formulir{
  max-width: 800px;
  text-align: left;
  font-size: 20px;
  padding: 30px;
  background: url(../img/pat4.png);
  /*background-color: #fff;*/
  margin-left: 30px;
  
}

#center{
  text-align: center;

}

.left-banner{
  color: white;
  background-color:#FFD700;
  height:1000px;
  padding-top: 180px;
  width:175px;
  position: absolute;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 5px; 
  margin-bottom:10px;
   border: 2px solid rgba(0,0,0,0.9);
   border-radius: 10px 10px 2px 2px;
   background: rgba(0.9,0.9,0.9,0.9);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  }
.left-banner h1{
color: white;

}

.space{
  margin:10px;
}

.butt{
  color:black;
  text-decoration: bold;
}
.form-signin h2{
  font-family: cursive;
  font-size: 100%;

}
.form-signin {
  border: 1px solid #e5e5e5;
  color: white;
  height:auto;
  width:auto;
  position: static;
  text-align: left;
  max-width: 300px;
  padding: 19px 29px 29px;
  margin-top: 50px;
  margin: 0 auto 20px;
   border: 1px solid rgba(0,0,0,0.5);
   border-radius: 10px 10px 2px 2px;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  /*-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  font-size: 32px;
  font-family: serif;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 18px;
  text-align: center;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  margin-top: 10px;
}

#popo a:hover{
  background-color: #790101;
  color: #790101;
  font-size: 120%;
  size:120%;
}

#push,
footer {
  height: 60px;
}

section {
  position: static;
}

footer { 
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 20px;
  background-color: #d4f2a8;
  opacity: 0.7;
  width: 100%;
  height: 50px;
}
.credit {
  margin: 20px 0;
}

.credit {
  margin: 20px 0;
}

.logo{
  width: 45px;
  height: 45px;
}

h3.calon {
  border-bottom: 1px solid #eee;
}

header a {
  display: block;
  width: 100%;
  background-color: #fff;
  margin: 0px !important;
  padding: 10px !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  text-align: center !important;
  color: #000 !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2), 0 0 30px rgba(255, 255, 255, .3) !important;
  -webkit-transition: all .2s linear !important;
  -moz-transition: all .2s linear !important;
  -ms-transition: all .2s linear !important;
  -o-transition: all .2s linear !important;
  transition: all .2s linear !important;
}

header a:hover {
  text-decoration: none !important;
  color: red !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .4) !important;
}

.clear {
  clear: both;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-right: auto;
  margin-left: auto;
}

.table tbody tr:nth-child(2n+2) {
  background-color: white;
  width: auto;
  position: relative;
}

.table thead {
  background-color: #99ff99;
}

.v{
  font-size: 18px;
  font-family: serif;
  text-decoration: bold;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 2px solid #dddddd;
}

.table th {
  font-weight: bold;
  font-size: 20px;
}

.table thead th {
  vertical-align: bottom;